.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.My-Counter {
  font-size: 3rem;
  color: dodgerblue;
}

.count {
  font-size: 3rem;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.counter-button {
  padding: 1rem 3rem;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
}

.counter-button:hover {
  background-color: rgb(218, 218, 218);
  transition: 0.3s;
}